<ion-header>
  <ion-toolbar>
    <ion-title>Movies Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add a Movie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Movie Name</ion-label>
        <ion-input [(ngModel)]="movieName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Year of Release</ion-label>
        <ion-input [(ngModel)]="movieYear" type="number"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="saveMovie()">Save Movie</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Saved Movies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let movie of movies; let i = index">
          <ion-label>
            <h2>{{ movie.name }}</h2>
            <p>{{ movie.year }}</p>
          </ion-label>
          <ion-button fill="clear" color="danger" (click)="deleteMovie(i)">
            <ion-icon [icon]="trashIcon"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="displayMovies()">Refresh Movies List</ion-button>
</ion-content>
